$color-primary: #7380ec;
$color-danger: #ff7782;
$color-success: #41f1b6;
$color-warning: #ffbb55;
$color-white: #fff;
$color-info-dark: #7d8da1;
$color-info-light: #f6f6f9;
$color-dark: #363949;
$color-light: rgba(132, 139, 200, 0.18);
$color-primary-variant: #111e88;
$color-dark-variant: #677483;
$color-background: #dce1eb;

$gray1: #353535;
$gray2: #363b3e;
$gray3: #999;
$gray4: #ACB8C9;
$gray5: #eee;

$white: #ffffff;

$blue1: #1a6dff;
$blue2: #1A6DFF;

$red1: #fc5f64;

$box-shadow1: 0 0.1rem 0.1rem $color-light;
$box-shadow2: 0 2rem 3rem $color-light;

$border-radius-1: 0.4rem;
$border-radius-2: 0.8rem;
$border-radius-3: 1.2rem;

$sidebar-width: 200px;
$header-height: 70px;
